
<!--Nuevo  producto sectioon-->

<section class="productos">


    <h1 class="heading"> <span>Registre un nuevo producto</span>📞</h1>

    <div class="row">

    <form action="" method="POST" class="mt-4">

        <input type="text" placeholder="nom_producto" class="nom_producto" name="nom_producto">
        <input type="text" placeholder="tienda_prod" class="tienda_prod" name="tienda_prod">
        <input type="text" placeholder="precio_prod" class="precio_prod" name="precio_prod">
        <input type="number" placeholder="cantidad_prod" class="cantidad_prod" name="cantidad_prod">
      
    <input type="submit" value="send message" class="btn">
    </form>


    </div>


</section>


