<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registrarse</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>

		<!--INICIAR SESION usuario-->




	<div class="container-form login ">
		<div class="information">
			<div class="info-childs"><br><br><br>
				<h2>Bienvenido </h2>
				<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>

				<input type="button" value="Registrarse" id="sign-up">
				<a href="/login/intienda" class="link">Registrarse como tienda</a>
			</div>
		</div>
		<div class="form-information">
			<div class="form-information-childs">
				<h2>Iniciar Sesión</h2>
				<div class="icons">
					<i class='bx bxl-google-plus'></i>
					<i class='bx bxl-facebook-circle'></i>
					<i class='bx bxl-linkedin-square'></i>
				</div>
				<p>o inicia sesión con una cuenta</p>
				<form class="form" method="post" action="/auth">
				
					<label >
						<i class='bx bxs-envelope'></i>
						<input name="email" type="email" placeholder="Ingresa tu correo">
					</label>
					<label >
						<i class='bx bxs-lock-alt'></i>
						<input name="password" type="password" placeholder="Ingresa tu contraseña">
					</label>
					<input type="submit" value="Iniciar Sesión">
				</form>
			</div>
		</div>
	</div>

	

	<!--Registrarse usuario-->
	
	<div class="container-form register hide">
		<div class="information">
			<div class="info-childs">
				<h2>Bienvenido </h2>

				<input type="button" value="iniciar sesión" id="sign-in">
			</div>
		</div>
		<div class="form-information ">
			<div class="form-information-childs">
				<h2>Crea tu cuenta </h2>
				<div class="icons">
					<i class='bx bxl-google-plus'></i>
					<i class='bx bxl-facebook-circle'></i>
					<i class='bx bxl-linkedin-square'></i>
				</div>
				<p>o registrate con tus credenciales</p>
				<form class="form" method="post" action="/createUsu">
					<label >
						<i class='bx bxs-user'></i>
						<input type="text" placeholder="Ingresa tu usuario" name="name">
					</label>
					<label >
						<i class='bx bxs-envelope'></i>
						<input type="email" placeholder="Ingresa tu correo" name="email">
					</label>
					<label >
						<i class='bx bxs-lock-alt'></i>
						<input type="password" placeholder="Ingresa tu contraseña" name="password">
					</label>
					<input type="submit" value="Registrarse">

					<a href="/login/intienda" class="link">Registrarse como tienda</a>
					

				</form>
			</div>
		</div>
	</div>

<script src="/js/login.js"></script>
</body>
</html>