<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registrarse</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>

		<!--INICIAR SESION usuario-->




	<div class="container-form login ">
		<div class="information">
			<div class="info-childs"><br><br><br>
				<h2>Bienvenido </h2>
				<p>Para ingresar a PETSHOP Inicia Sesión con tus datos de Tienda</p>

				<input type="button" value="Registrarse" id="sign-up">
				<a href="/login/index" class="link">Registrarse como Usuario</a>
			</div>
		</div>
		<div class="form-information">
			<div class="form-information-childs">
				<h2>Iniciar Sesión</h2>
				<div class="icons">
					<i class='bx bxl-google-plus'></i>
					<i class='bx bxl-facebook-circle'></i>
					<i class='bx bxl-linkedin-square'></i>
				</div>
				<p>o inicia sesión con una cuenta</p>
				<form class="form" method="post" action="/auth">
				
					<label >
						<i class='bx bxs-envelope'></i>
						<input name="email" type="email" placeholder="Ingresa tu correo">
					</label>
					<label >
						<i class='bx bxs-lock-alt'></i>
						<input name="password" type="password" placeholder="Ingresa tu contraseña">
					</label>
					<input type="submit" value="Iniciar Sesión">
				</form>
			</div>
		</div>
	</div>

	

	<!--Registrarse usuario-->
	
	<div class="container-form register hide">
		<div class="information">
			<div class="info-childs">
				<h2>Bienvenido </h2>
				<p>Para ingresar a PETSHOP Inicia Sesión con tus datos de Tienda</p>

				<input type="button" value="iniciar sesión" id="sign-in">
			</div>
		</div>
		<div class="form-information ">
			<div class="form-information-childs">
				<h2>Crea tu cuenta </h2>
				<form class="form" method="post" action="/createTien">
  <!-- Campos para la tabla users -->
  <label>
    <i class='bx bxs-user'></i>
    <input type="text" name="name" placeholder="Ingresa tu usuario">
  </label>
  <label>
    <i class='bx bxs-envelope'></i>
    <input type="email" name="email" placeholder="Ingresa tu correo">
  </label>
  <label>
    <i class='bx bxs-lock-alt'></i>
    <input type="password" name="password" placeholder="Ingresa tu contraseña">
  </label>

  <!-- Campos para la tabla tienda -->
  <label>
    <i class='bx bxs-user'></i>
    <input type="text" name="nombreTienda" placeholder="Nombre de la Tienda">
  </label>
  <label>
    <i class='bx bxs-user'></i>
    <input type="text" name="descTienda" placeholder="Descripción de la Tienda">
  </label>
  <label>
    <i class='bx bxs-user'></i>
    <select name="categTienda" value="Categoria">
      <option disabled hidden selected>Categoria de la Tienda</option>
      <option value="Comida">Comida</option>
      <option value="Juguetes">Juguetes</option>
      <option value="Hogar">Hogar</option>
      <option value="Veterinaria">Veterinaria</option>
      <option value="otro">otro</option>
    </select>
  </label>

  <input type="submit" value="Registrarse">

  <a href="/login/index" class="link">Registrarse como usuario</a>
</
			</div>
		</div>
	</div>

<script src="/js/login.js"></script>
</body>
</html>