<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos PetShop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
   <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    

<!-- men칰 -->
<header>

    <input type="checkbox" name="" id="toggle">
    <label for="toggle" class="fas fa-bars"></label>


    <a href="#" class="logo">OmegaPetShop<span>游</span></a>
    <nav class="navbar">
        <a href="index.html">Inicio</a>
     
        
    
    </nav>
    <div class="icons">

        <a href="#" class="fas fa-share"></a>
        <a href="#" class="fas fa-user"></a>            



    </div>
</header>


<!--Prodcutos section -->


<section class="productos" id="productos">

    <h1 class="heading">Productos</h1>

    <div class="box-container">

        <div class="box">
        <span class="discount">-10%</span>
        <div class="image">
            <img src="/img/img1.jpg" alt="">
            <div class="icons">
                 <a href="#" class="fas fa-heart"></a>
                 <a href="/login/capas" class="cart-btn">Ver m치s</a>
                 <a href="#" class="fas fa-car"></a>
            </div>
        </div>
        <div class="content">
            <h3>Capas de lluvia para perro</h3>
            <h3>Tienda: Mi peque침o Amigo</h3>
            <div class="price">$80.000 <span>$70.000</span></div>
        </div>
    </div>

    <!--segundo-->

    <div class="box">
        <span class="discount">-10%</span>
        <div class="image">
            <img src="/img/img2.jpg" alt="">
            <div class="icons">
                 <a href="#" class="fas fa-heart"></a>
                 <a href="friendly.html" class="cart-btn">Ver m치s</a>
                 <a href="#" class="fas fa-car"></a>
            </div>
        </div>
        <div class="content">
            <h3>Shampoos para perros y collares</h3>
            <h3>Tienda: Veterinaria PETFRIENDLLY</h3>
            <div class="price">$15.000 <span>$8.000</span></div>
        </div>
    </div>


     <!--cuarto-->


     <div class="box">
        <span class="discount">-12%</span>
        <div class="image">
            <img src="/img/img11.jpg" alt="">
            <div class="icons">
                 <a href="#" class="fas fa-heart"></a>
                 <a href="#" class="cart-btn">Ver m치s</a>
                 <a href="#" class="fas fa-car"></a>
            </div>
        </div>
        <div class="content">
            <h3>Collar rosado para perros y gatos</h3>
            <div class="price">$30.000 <span>$22.000</span></div>
        </div>
    </div>


     <!--quinto-->


     <div class="box">
        <span class="discount">-10%</span>
        <div class="image">
            <img src="/img/img12.jpg" alt="">
            <div class="icons">
                 <a href="#" class="fas fa-heart"></a>
                 <a href="#" class="cart-btn">Ver m치s</a>
                 <a href="#" class="fas fa-car"></a>
            </div>
        </div>
        <div class="content">
            <h3>Cuerda de juego para perros</h3>
            <div class="price">%30.000 <span>$20.000</span></div>
        </div>
    </div>


    <!--sexto-->


    <div class="box">
        <span class="discount">-10%</span>
        <div class="image">
            <img src="/img/img10.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="cart-btn">Ver m치s</a>
                <a href="#" class="fas fa-car"></a>
            </div>
        </div>
        <div class="content">
            <h3>Collar de metal para perros raza grande </h3>
            <div class="price">$35.000 <span>$10.000</span></div>
        </div>
    </div>




     <!--septimo-->


     <div class="box">
     
        <div class="image">
            <img src="/img/img7.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="cart-btn">Ver m치s</a>
                <a href="#" class="fas fa-car"></a>
                
            </div>
        </div>
        <div class="content">
            <h3>shampoo para pelo blanco perro</h3>
            <div class="price">$35.000 </div>
        </div>
    </div>








     <!--octavo-->


     <div class="box">
        
        <div class="image">
            <img src="/img/img8.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="friendly.html" class="cart-btn">Ver m치s</a>
                <a href="#" class="fas fa-car"></a>
            </div>
        </div>
        <div class="content">
            <h3>Collar rosa </h3>
            <div class="price">$25.000 </div>
        </div>
    </div>


     <!--diez-->


     <div class="box">
        
        <div class="image">
            <img src="/img/img11.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="cart-btn">Ver m치s</a>
                <a href="#" class="fas fa-car"></a>
            </div>
        </div>
        <div class="content">
            <h3>Collar gato </h3>
            <div class="price">$35.000 </div>
        </div>
    </div>






     <!--once-->


     <div class="box">
        
        <div class="image">
            <img src="/img/comida3.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="cart-btn">Ver m치s</a>
                <a href="#" class="fas fa-car"></a>
            </div>
        </div>
        <div class="content">
            <h3>comida para perro WOW CAN </h3>
            <div class="price">$35.000 </div>
        </div>
    </div>






     <!--doce-->


     <div class="box">
        
        <div class="image">
            <img src="/img/gato1.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="cart-btn">Ver m치s</a>
                <a href="#" class="fas fa-car"></a>
            </div>
        </div>
        <div class="content">
            <h3>CoMIDA PARA GATO MONELLO </h3>
            <div class="price">$35.000 </div>
        </div>
    </div>






     <!--trece-->


     <div class="box">
      
        <div class="image">
            <img src="/img/img14.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="cart-btn">Ver m치s</a>
                <a href="#" class="fas fa-car"></a>
            </div>
        </div>
        <div class="content">
            <h3> Soga para perros </h3>
            <div class="price">$35.000 </div>
        </div>
    </div>






     <!--catorce-->


     <div class="box">
       
        <div class="image">
            <img src="/img/comida1.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="cart-btn">Ver m치s</a>
                <a href="#" class="fas fa-car"></a>
            </div>
        </div>
        <div class="content">
            <h3>Comida DOG SHOW</h3>
            <div class="price">$35.000 </div>
        </div>
    </div>
    
   <!--quince-->


   <div class="box">
       
    <div class="image">
        <img src="/img/comida2.jpg" alt="">
        <div class="icons">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="cart-btn">Ver m치s</a>
            <a href="#" class="fas fa-car"></a>
        </div>
    </div>
    <div class="content">
        <h3>Comida perros </h3>
        <div class="price">$35.000 </div>
    </div>
</div>


   <!--16-->


   <div class="box">
       
    <div class="image">
        <img src="/img/gato2.jpg" alt="">
        <div class="icons">
            <a href="#" class="fas fa-heart"></a>
                <a href="#" class="cart-btn">Ver m치s</a>
                <a href="#" class="fas fa-car"></a>
        </div>
    </div>
    <div class="content">
        <h3>Comida gatos CATCHOW </h3>
        <div class="price">$35.000 </div>
    </div>
</div>

   <!--17-->


   <div class="box">
       
    <div class="image">
        <img src="/img/gato3.jpg" alt="">
        <div class="icons">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="cart-btn">Ver m치s</a>
            <a href="#" class="fas fa-car"></a>
        </div>
    </div>
    <div class="content">
        <h3>Comida gatos MIRRINGO </h3>
        <div class="price">$35.000 </div>
    </div>
</div>


   <!--18-->


   <div class="box">
       
    <div class="image">
        <img src="/img/gato4.jpg" alt="">
        <div class="icons">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="cart-btn">Ver m치s</a>
            <a href="#" class="fas fa-car"></a>
        </div>
    </div>
    <div class="content">
        <h3>Comida en lata para gato  </h3>
        <div class="price">$35.000 </div>
    </div>
</div>










</div>

</section>

















</body>
</html>